<div [formGroup]="addressForm">
  <table>
    <thead>
      <th>Street</th>
      <th>City</th>
      <th>State</th>
    </thead>
    <tbody>
      <tr formArrayName="addresses" *ngFor="let addr of addressForm.controls.addresses?.value; let i = index">
      <ng-container>
        <td><input formControlName="street" /></td>
        <td><input formControlName="city" /></td>
        <td><input formControlName="state" /></td>
      </ng-container>
      </tr>
    </tbody>
  </table>
</div>
